# Ignore the auto created elm.js file
.elm.js

# Ignore the run-time created stuff
elm-stuff/

elm.js

*.elmi

*.elmo

elm-stuff/documentation.json

elm-stuff/exact-dependencies.json

*.yml

elm-stuff/packages/elm-lang/core/1.1.0/README.md
